@page
@model WebApplication.Pages.Pedido.EditModel
@{
}
<br />
<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue ? "Actualizar":"Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit">


                <input type="hidden" asp-for="Entity.IdPedido" v-model="Entity.IdPedido" />


                <div class="form-group mb-3">
                    <label for="Entity.IdCliente" class="form-label">Cliente</label>

                    <select asp-for="Entity.IdCliente" class="form-select" v-model="Entity.IdCliente"
                            asp-items="@(new SelectList(Model.ClienteLista,"IdCliente","NombreCompleto"))"
                            required>
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.FechaPedido" class="form-label">Fecha Pedido</label>

                    <b-form-datepicker id="FechaPedido" name="FechaPedido" class="form-control" v-model="Entity.FechaPedido" required>

                    </b-form-datepicker>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.IdProducto" class="form-label">Producto</label>

                    <select asp-for="Entity.IdProducto" class="form-select" v-model="Entity.IdProducto"
                            asp-items="@(new SelectList(Model.ProductoLista,"IdProducto","Nombre"))"
                            required>
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.PrecioUnitario" class="form-label">Precio Unitario</label>
                    <input type="number" class="form-control" asp-for="Entity.PrecioUnitario" v-model.number="Entity.PrecioUnitario" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Cantidad" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" asp-for="Entity.Cantidad" v-model.number="Entity.Cantidad" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Envio" class="form-label">Envio</label>
                    <input type="number" class="form-control" asp-for="Entity.Envio" v-model.number="Entity.Envio" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Impuesto" class="form-label">Impuesto</label>
                    <input type="number" class="form-control" asp-for="Entity.Impuesto" v-model.number="Entity.Impuesto" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.SubTotal" class="form-label">Sub Total :</label>
                    <span class="text-info">{{Entity.Cantidad*Entity.PrecioUnitario+Entity.Envio}}</span>
                </div>


                <div class="form-group mb-3">
                    <label for="Entity.Total" class="form-label">Total :</label>
                    <span class="text-info">{{((Entity.Impuesto/100)*(Entity.PrecioUnitario*Entity.Cantidad)+(Entity.Cantidad*Entity.PrecioUnitario+Entity.Envio))}}</span>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-outline-primary">
                            @(Model.id.HasValue ? "Actualizar":"Agregar")
                        </button>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>

@section Scripts{


    <script defer src="~/App/Pedido/Edit.js"></script>
}